/* Container Principal do Conteúdo */

.conteudo .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.5em 5em;
}

/*Estilo do Título */

.texto__titulo {
    font-size: 84px;
    font-weight: 700;
}

/*Estilo do Texto */

.texto__p {
    padding-top: 2.5em;
    font-size: 18px;
    color: var(--preto-transparente);
    padding-bottom: 3.5em;
}

/*Estilo do Botão Recent Work */

.botao__recent-work {
    border: 1px solid var(--preto);
    border-radius: 5px;
    background-color: var(--azul);
    color: var(--branco);
    padding: 1em 1.5em;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

/*Estilo da Seta Azul */

.botao-azul {
    padding-top: 5.5em;
    width: 48px;
}

/*Alinhando imagem */

.imagem {
    display: flex;
}

/*Estilo do Desenho Traçado */

.imagem__traco {
    width: 40vw;
    position: absolute;
    left: 20em;
    bottom: 2em;
}

/*Estilo da Imagem do Inicio */

.imagem__desktop {
    width: 47vw;
    position: absolute;
    right: 17em;
    top: 10em;
}