@import url(./header.css);

:root {
    --branco: #FFFFFF;
    --azul-escuro: #232340;
    --azul-transparente: #595976;
    --preto-transparente: #606060;
    --azul: #5468E7;
    --cinza: #8B8B8B;
    --fonte-principal: "Roboto";
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}